body{
    padding: 0px;
    margin: 0px;
    display: block;
    font-family: 'Poppins', sans-serif !important; 
    background-color: #ffffff !important;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #A1F1D8;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A1F1D8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav-item{
    padding:  0px 10px;
    margin: 0px 10px;

}

.nav-item>a{
    color: rgb(46, 46, 46);

}
.nav-item>a:hover{
    color: #A1F1D8;
}

.btn-primar{
    background-color:#6C51BA;
    color:white ;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}


.btn-secondar{
    background-color: white;
    color: black;
    border:1px solid #6C51BA
    ;
    border-radius: 8px;
    font-size: 18px;


}

.btn-primar:hover{
    background-color: white;
    color: black;
    border: 1px solid #6C51BA;
    border-radius: 8px;

}

.btn-secondar:hover{
    background-color:#A1F1D8;
    color:black ;
    border: none;
    border-radius: 8px;

}

input{
    width: 98%;
    padding: 8px;
    border:1px solid rgb(169, 166, 166);
    border-radius: 8px;
}

label{
    font-size: 18px;

}